.NameLogo-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.NameLogo-Positioning {
  width: inherit;
  display: flex;
  align-items: center;
  width: inherit;
  justify-content: space-around;
}

.Name-Container {
  /* border: 2px solid #000; */
  min-width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

.Image-Container {
  margin-top: 20%;
}

.Name-Style {
  font-weight: 900;
  font-size: 200px;
}

.Description_Phone {
  width: "100%";
  display: "flex";
  flex-direction: "row-reverse";
  align-items: "center";
}

.Img_NameLogo{
  width: 500px;
  height: auto ;
}


@media (max-width: 575.98px) {
  .NameLogo-Container {
    margin-top: 25%;
  }

  .NameLogo-Positioning {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: max-content;
}

.Image-Container {
  margin-top: 0%;
}

.Img_NameLogo{
width: 130px;
    height: 200px;
}

.Name-Container {
  min-height: 10vh;
}

.Name-Style {
  font-size: calc(10vh/2);
}

}

@media (min-width: 576px) and (max-width: 767.98px) {
  .Name-Style{
    font-size: calc(10vh/2);
  }

  .NameLogo-Container{

  }

  .NameLogo-Positioning{
    flex-direction: column;
  }

  .Image-Container{
    
  }

  .Name-Container {
    margin-top: -50%;
  }

  .Img_NameLogo{
    width: 750px;
  }
   
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .Name-Style{
  }

  .NameLogo-Container{

  }

  .NameLogo-Positioning{

  }

  .Image-Container{

  }

  .Name-Container {

  }

  .Img_NameLogo{

  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .Name-Style{
  }

  .NameLogo-Container{

  }

  .NameLogo-Positioning{

  }

  .Image-Container{

  }

  .Name-Container {

  }

  .Img_NameLogo{
    
  }
}

@media (min-width: 1200px) {
  .Name-Style{
  }

  .NameLogo-Container{

  }

  .NameLogo-Positioning{

  }

  .Image-Container{

  }

  .Name-Container {

  }

  .Img_NameLogo{
    
  }
}
