/*---------------------- NOTITA ----------------------|
| 1. sa fac un root in care zic ca color nu stiu cum  |
| 2. sa fac un folder separat si sa fie si pt home.etc|
| 3. sa sterg din .css original background si color   |
|------------------------  NOTITA -------------------*/

/*
pentru input sa nu uit: background: border-box color;
*/

/*------------------------  page-test.jsx -------------------*/
/*--- SIDEBAR ---*/
.dark .sidebar {
  background-color: #252525;
  border-right: 1px solid #232324;
}

/*--- NAVBAR ---*/
.dark .navbar {
background-color: #242424;
color: white;
}

/*--- CHATINFO ---*/
.dark .chatInfo {
  background-color: #242424;
  color: white;
}

/*--- MESSAGES ---*/
.dark .messages {
}

/*--- BODYINPUT ---*/
.dark .bodyinput {
}

/*--- SEARCH ---*/
.dark .search {
  background-color: #252525;
  border-right: 1px solid #232324;
}

/*--- USERCHAT ---*/
.dark .userChat{
  background-color: #252525;
  color: white
}

/*--- RESPONSIVEP ---*/
.dark .responsiveP{
color: white;
}





















/*------------------------  main-page.jsx -------------------*/

/*--- SIDEBAR ---*/
.dark {
  background-color: #fff;
}

/*------------------------  RegistrationForm.jsx -------------------*/

/*--- BG-WHITE ---*/
.dark .bg-white {
  background-color: #fff;
}

/*------------------------  LogInForm.jsx -------------------*/

/*--- SIDEBAR ---*/
.dark {
  background-color: #fff;
}
