*, ::after, ::before {
  box-sizing: border-box;
}

body{
  margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;

}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.test{
  padding: 10px 15px;
    display: flex;
    vertical-align: baseline;
    background: #fff;
    transition: 0.3s ease;
}

hr{
  margin: 5px auto;
    width: 60%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

@media screen and (max-width: 480px) {
  .formContainer,
  .home {
    background-color: grey;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  } 

   .container {
    width: 90%;
  }

  .logo {
    @include tablet {
      display: none;
    }
  }

  .user {
    button {
      position: absolute;
      bottom: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .logo {
    @include tablet {
      display: none;
    }
  }

  .user {
    button {
      position: absolute;
      bottom: 10px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 65%;
  }
}

.formContainer {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  background-color: white;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.logo {
  color: #5d5b8d;
  font-weight: bold;
  font-size: 24px;
}

.title {
  color: #5d5b8d;
  font-size: 12px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  background-color: #7b96ec;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #8da4f1;
  font-size: 12px;
  cursor: pointer;
}

label img {
  width: 32px;
}

p {
  color: #5d5b8d;
  font-size: 12px;
  margin-top: 10px;
}

.home {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} 

 .container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
} 

.sidebar {
  flex: 1 1;
  background-color: #fff;
  position: relative;
  border-right: 1px solid #dee2e6!important;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  background: #eee;
  padding: 10px 15px;
  border-radius: 7px;
}

.logo {
  font-weight: bold;
  @include tablet {
    display: none;
  }
}

.user {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.user button {
  background-color: #5d5b8d;
  color: #ddddf7;
  font-size: 10px;
  border: none;
  cursor: pointer;
  @include tablet {
    position: absolute;
    bottom: 10px;
  }
}

.search {
  background: #fafafa;
    padding: 10px 13px;
}

.searchForm {
  padding: 10px;
}

.inputChatPage{
  border: none;
  border-radius: 30px;
  width: 80%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.searchForm input {
  color: black;
  outline: none;
  padding: 10px 13px;
}

.searchForm input::placeholder {
  color: lightgray;
}

.userChat {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  background: #fff;
  transition: 0.3s ease;
}

.userChat:hover {
  background-color: #fafafa;
}

.userChat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.userChatInfo span {
  font-size: 18px;
  font-weight: 500;
}

.userChatInfo p {
  font-size: 14px;
  color: black;
}

.chat {
  padding-right: 0;
  padding-left: 0;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  position: relative;
  width: 100%;
  min-height: 1px;
  background: #fff;
}

.chats{
  padding-right: 0;
  padding-left: 0;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
}

img{
  vertical-align: middle;
    border-style: none;
}

.chatInfo {
  background: #eee;
  border-radius: 7px;
  margin-right: 0;
  margin-left: 0;
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  transition: 0.3s ease;
}

.chatIcons {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.chatIcons img {
  height: initial;
  cursor: pointer;
}

.messages {
  background-color: #fff;
  height: calc(100% - 160px);
  overflow: scroll;
}

.message {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.messageInfo {
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

.messageInfo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.messageContent {
  padding: 10px 14px;
  margin: 10px 30px;
  border-radius: 9px;
  position: relative;
  animation: fadeIn 1s ease-in;
  padding-right: 0;
  padding-left: 0;
}

.messageContent p {
  background-color: #eee;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  max-width: max-content;
}

.messageContent img {
  width: 50%;
}

.message.owner {
  flex-direction: row-reverse;
}

.message.owner .messageContent {
  align-items: flex-end;
}

.message.owner .messageContent p {
  background-color: #8da4f1;
  color: white;
  border-radius: 10px 0px 10px 10px;
} 


.input input {
  margin: 0 10px;
  padding: 6px 2px;
} 

 .input input::placeholder { 
  color: lightgray;
}

.input .send {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input .send img {
  height: 24px;
  cursor: pointer;
}

.input .send button {
  border: none;
  padding: 10px 15px;
  color: white;
  background-color: #8da4f1;
  cursor: pointer;
} 