*,
::after,
::before {
  box-sizing: border-box;

}

.sidebar-small-screen-hidden {
  display: none;
  overflow: overlay;
}

.sidebar-small-screen-visible {
  display: block;
  overflow: overlay;
}

.sidebar.visible {
  display: block;
  overflow: overlay;
}

.toggle-sidebar-button {
  display: none;
  overflow: overlay;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  overflow: overlay;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  overflow: overlay;
}

.test {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  background: #fff;
  transition: 0.3s ease;
  overflow: overlay;
}

.messageDate-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  overflow: overlay;
}
.messageDate {
  background-color: hsla(0, 0%, 100%, 0.95);
  padding: 5px 12px 6px;
  border-radius: 10px;
  color: #54656f;
  overflow: overlay;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 5px auto;
  width: 80%;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  overflow: overlay;
}

.formContainer {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: overlay;
}

.responsiveP {
  overflow: hidden;
  font-weight: 400;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: overlay;
}

.formWrapper {
  background-color: white;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  overflow: overlay;
}

.logo {
  color: #5d5b8d;
  font-weight: bold;
  font-size: 24px;
  overflow: overlay;
}

.title {
  color: #5d5b8d;
  font-size: 12px;
  overflow: overlay;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: overlay;
}

/* button {
  background-color: #7b96ec;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
} */

label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #8da4f1;
  font-size: 12px;
  cursor: pointer;
  overflow: overlay;
}

label img {
  width: 32px;
  overflow: overlay;
}

p {
  color: black;
  font-size: 12px;
  margin-top: 10px;
  overflow: overlay;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: overlay;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  overflow: overlay;
}

.sidebar {
  /* flex: 1 1; */
  background-color: #fff;
  position: relative;
  border-right: 1px solid #dee2e6;
  overflow: overlay;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  background: #eee;
  padding: 10px 15px;
  border-radius: 7px;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  overflow: overlay;
}

.logo {
  font-weight: bold;
  overflow: overlay;
}

.user {
  width: 100%;
  display: flex;
  gap: 2%;
  flex-direction: row;
  align-items: center;
  overflow: overlay;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  overflow: overlay;
}

/* .user button {
  background-color: #5d5b8d;
  color: #ddddf7;
  font-size: 10px;
  border: none;
  cursor: pointer;
} */

.search {
  background: #fafafa;
  padding: 10px 13px;
  overflow: overlay;
}

.searchForm {
  padding: 10px;
  overflow: overlay;
}

.inputChatPage {
  border: none;
  border-radius: 30px;
  width: 80%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  height: 40px;
  overflow: overlay;
}

.searchForm input {
  color: black;
  outline: none;
  padding: 10px 13px;
  overflow: overlay;
}

.searchForm input::placeholder {
  color: lightgray;
  overflow: overlay;
}

.userChat {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  background: #fff;
  transition: 0.3s ease;
  align-items: center;
  cursor: pointer;
  gap: 4%;
  overflow: overlay;
}

.userChat:hover {
  background-color: #fafafa;
  overflow: overlay;
}

.userChat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  overflow: overlay;
}

.userChatInfo span {
  overflow: hidden;
  font-size: 17px;
  font-weight: 400;
  overflow: overlay;
}

.userChatInfo {
  padding-left: 2%;
  overflow: overlay;
}

.userChatInfo p {
  font-size: 14px;
  color: black;
  overflow: overlay;
}

.chat {
  padding-right: 0;
  padding-left: 0;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  position: relative;
  width: 100%;
  min-height: 1px;
  background: #fff;
  overflow: overlay;
}

.chats {
  width: 100%;
  overflow-y: scroll;
  position: relative;
  height: 100%;
  overflow: overlay;
}

img {
  vertical-align: middle;
  border-style: none;
  object-fit: cover;
  overflow: overlay;
}

.chatInfo {
  background: #eee;
  margin-right: 0;
  margin-left: 0;
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  transition: 0.3s ease;
  overflow: overlay;
}

.chatIcons {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  overflow: overlay;
}

.chatIcons img {
  height: initial;
  cursor: pointer;
  overflow: overlay;
}

.messages {
  background-color: /*#fff*/ #c3bcbc;
  height: calc(100% - 140px);
  overflow: scroll;
}

.message {
  display: flex;
  margin: 20px 0px 20px 0px;
  padding: 0 20px;
  overflow: overlay;
}

.messageInfo {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  align-items: center;
  overflow: overlay;
}

.messageInfo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  overflow: overlay;
}

.messageContent {
  padding: 10px 14px;
  margin: 10px 30px;
  border-radius: 9px;
  position: relative;
  animation: fadeIn 1s ease-in;
  padding-right: 0;
  padding-left: 0;
  overflow: overlay;
}

.messageContent p {
  background-color: #eee;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  max-width: fit-content;
  overflow: overlay;
}

.messageContent img {
  width: 100%;
  overflow: overlay;
}

.message.owner {
  flex-direction: row-reverse;
  overflow: overlay;
}

.message.owner .messageContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: overlay;
}

.message.owner .messageContent p {
  background-color: #8da4f1;
  color: white;
  border-radius: 10px 0px 10px 10px;
  overflow: overlay;
}

.bodyinput {
  background: rgb(238, 238, 238);
  display: flex;
  padding: 17px;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
  background: rgb(238, 238, 238);
  width: -webkit-fill-available;
  position: fixed;
  overflow: overlay;
}

.inputChatPage-container {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 5px;
  overflow: overlay;
}

.inputChatPage {
  border: none;
  outline: none;
  flex: 1;
  padding: 6px 10px;
  border-radius: 30px;
  overflow: overlay;
}

/* .clear-button {
  transform: translateY(-50%);
  cursor: pointer;
  color: #000000;
} */

.input input {
  margin: 0 10px;
  padding: 6px 2px;
  overflow: overlay;
}

.input input::placeholder {
  color: lightgray;
  overflow: overlay;
}

.input .send {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: overlay;
}

.input .send img {
  height: 24px;
  cursor: pointer;
  overflow: overlay;
}

/* .input .send button {
  border: none;
  padding: 10px 15px;
  color: white;
  background-color: #8da4f1;
  cursor: pointer;
} */

::-webkit-scrollbar {
  width: 0.1em;
  overflow: overlay;
}

.Btn-sign-body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  background-color: rgb(136, 136, 136);
  overflow: overlay;
}

.btn-sign-svg {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: overlay;
}

.sibtn-sign-svggn svg {
  width: 17px;
  overflow: overlay;
}

.btn-sign-svg svg path {
  fill: white;
  overflow: overlay;
}
/* text */
.Btn-sign-text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
  overflow: overlay;
}
/* hover effect on button width */
.Btn-sign-body:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
  overflow: overlay;
}

.Btn-sign-body:hover .btn-sign-svg {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
  overflow: overlay;
}

.Btn-sign-body:hover .Btn-sign-text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
  overflow: overlay;
}

.Btn-sign-body:active {
  transform: translate(2px ,2px);
  overflow: overlay;
}

::-webkit-scrollbar-thumb {
  overflow: overlay;
  display: none;
}

::-webkit-scrollbar-track {
  overflow: overlay;
  background: transparent;
}

/* Media queries */

@media (max-width: 575.98px) {
  body {
    font-size: 0.875rem;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.5rem;
  }

  .test {
    padding: 5px 10px;
  }

  hr {
    width: 100%;
  }

  .formWrapper {
    padding: 10px 30px;
  }

  .logo {
    font-size: 18px;
  }

  .title {
    font-size: 10px;
  }
  .sidebar {
    display: none;
  }

  .sidebar-small-screen-visible {
    display: block;
  }

  .toggle-sidebar-button {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 1rem;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 2rem;
  }
  .test {
    padding: 10px 20px;
  }
  hr {
    width: 90%;
  }
  .formWrapper {
    padding: 15px 45px;
  }
  .logo {
    font-size: 20px;
  }
  .title {
    font-size: 11px;
  }
  .sidebar {
    width: 25%;
    display: none;
  }

  .toggle-sidebar-button {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    font-size: 1.25rem;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 2.5rem;
  }
  .test {
    padding: 15px 25px;
  }
  hr {
    width: 80%;
  }
  .formWrapper {
    padding: 20px 60px;
  }
  .logo {
    font-size: 22px;
  }
  .title {
    font-size: 12px;
  }
  .sidebar {
    width: 30%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 1.5rem;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 3rem;
  }
  .test {
    padding: 20px 30px;
  }
  hr {
    width: 70%;
  }
  .formWrapper {
    padding: 25px 75px;
  }
  .logo {
    font-size: 24px;
  }
  .title {
    font-size: 13px;
  }
  .sidebar {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: medium;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 3.5rem;
  }
  .test {
    padding: 25px 35px;
  }
  hr {
    width: 60%;
  }
  .formWrapper {
    padding: 30px 90px;
  }
  .logo {
    font-size: 26px;
  }
  .title {
    font-size: 14px;
  }
  .sidebar {
    width: 40%;
  }
}

/* Smartphones / portrait */
@media only screen and (max-width: 480px) {
  .logo {
    display: none;
  }

  .user {
    flex-direction: row;
    gap: 10px;
  }

  .user img {
    width: 30px;
    height: 30px;
    border-radius: 25px;
  }

  /* .user button {
    font-size: 8px;
  } */

  .searchForm {
    display: none;
  }

  .chat {
    flex: 1 1;
    max-width: 100%;
  }

  .inputChatPage {
    width: 100%;
  }

  .inputChatPage-container {
    width: 100%;
  }

  .inputChatPage-container button {
    font-size: 8px;
  }

  .messageContent p {
    max-width: fit-content;
  }

  .toggle-sidebar-button {
    display: block;
  }
}

/* Smartphones (landscape) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .logo {
    display: none;
  }

  .user {
    flex-direction: row;
    gap: 10px;
  }

  .user img {
    width: 30px;
    height: 30px;
    border-radius: 25px;
  }

  .user button {
    font-size: 8px;
  }

  .searchForm {
    display: flex;
    align-items: center;
  }

  .chat {
    flex: 2;
    max-width: 100%;
  }

  .inputChatPage {
    width: 100%;
  }

  .inputChatPage-container {
    width: 100%;
  }

  .inputChatPage-container button {
    font-size: 8px;
  }

  .messageContent p {
    max-width: fit-content;
  }

  .toggle-sidebar-button {
    display: block;
  }
}

/* Tablets */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .logo {
    display: none;
  }

  .user {
    flex-direction: row;
    gap: 10px;
  }

  .user img {
    width: 30px;
    height: 30px;
    border-radius: 25px;
  }

  .user button {
    font-size: 8px;
  }

  .searchForm {
    display: flex;
    align-items: center;
  }

  .chat {
    flex: 3;
    max-width: 100%;
  }

  .inputChatPage {
    width: 100%;
  }

  .inputChatPage-container {
    width: 100%;
  }

  .inputChatPage-container button {
    font-size: 8px;
  }

  .messageContent p {
    max-width: fit-content;
  }
}

/* Laptops */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .logo {
    display: none;
  }

  .user {
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  .user img {
    width: 30px;
    height: 30px;
    border-radius: 25px;
  }

  .user button {
    font-size: 8px;
  }

  .searchForm {
    display: flex;
    align-items: center;
  }

  .chat {
    flex: 3;
    max-width: 100%;
  }

  .inputChatPage {
    width: 100%;
  }

  .inputChatPage-container {
    width: 100%;
  }

  .inputChatPage-container button {
    font-size: 8px;
  }

  .messageContent p {
    max-width: fit-content;
  }
}

/* Desktops*/
@media only screen and (min-width: 1201px) {
  .logo {
    display: block;
  }

  .user {
    flex-direction: row;
    gap: 2%;
  }

  .user img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
  }

  .user button {
    font-size: 10px;
  }

  .searchForm {
    display: block;
  }

  .chat {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .inputChatPage {
    width: 80%;
  }

  .inputChatPage-container {
    width: 100%;
  }

  .inputChatPage-container button {
    font-size: 10px;
  }

  .messageContent p {
    max-width: max-content;
  }
}

/*   */
.blankPageContainer {
  overflow: overlay;
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: wheat;
  color: rgba(233, 237, 239, 0.88);
}

.blankPageCenter {
  /* display: flex;.messageDate-Container
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: rgba(233, 237, 239, 0.88); */

  overflow: overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #e9edef;
}


.toggle-darkmode {
  overflow: overlay;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  line-height: 1;
}

.input {
  overflow: overlay;
  display: none;
}

.icon {
  overflow: overlay;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
}

.svg--moon {
  overflow: overlay;
  transition-delay: 200ms;
}

.svg--sun {
  overflow: overlay;
  transform: scale(0);
}

#switch:checked + .svg--moon {
  overflow: overlay;
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .svg--sun {
  overflow: overlay;
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}

