
.container-Home{
  scroll-behavior: smooth;
  background: radial-gradient(circle, rgb(245 222 179) 50%, rgb(211 190 149) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}