.ba {
margin: 0;
padding: 0;
}

@media (max-width: 575.98px) {
  .content2-ContainerText {
    margin: 0% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .h2_Content {
    padding-top: "10%";
    padding-bottom: "10%";
  }

  .text_Content2 {
    color: black;
    line-height: 220%;
    font-family: inherit;
  }
}

/* @media (min-width: 576px) and (max-width: 767.98px) {

} */

@media (min-width: 768px) and (max-width: 991.98px) {

  .p-home{
    font-size: 1.5rem;
  }

  .h2_Content {
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
  }
 
  .text_Content2{
    margin: 10%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
.ba{
  font-size: medium;
  margin: 0px;
}

.h2_Content {
  display: flex;
  justify-content: center;
  padding-bottom: 10%;
}
  .messageInfo img {
    width: 80px;
    height: 80px;
}

.messageContent p {
  font-size: x-large;
}

}
@media (min-width: 1200px)
{
.h2_Content{
  display: flex;
  justify-content: center;
  padding-bottom: 8%;
}

.ba{
  margin: 10% 0% 10% 10%;
}

}


