.Content1-Container {
    width: -webkit-fill-available;
    margin-top: 5%;
    margin-bottom: 5%;
}

.Content1-Container-Text {
    display: flex;
    justify-content: flex-end;
  }

.Content1-Text {
 
}