/* .mb-3 {
    margin-bottom: 1.5rem;
  }
  
  .form-label {
    margin-bottom: 0.5rem;
  }
  
  .col-form-label,
  .form-label {
    color: #4a4948;
    font-weight: 500;
  }
  
  .col-form-label {
    font-size: inherit;
    line-height: 1.5;
    margin-bottom: 0;
    padding-bottom: calc(0.594rem + 1px);
    padding-top: calc(0.594rem + 1px);
  }
  
  .col-form-label-lg {
    font-size: 0.875rem;
    padding-bottom: calc(0.969rem + 1px);
    padding-top: calc(0.969rem + 1px);
  }
  
  .col-form-label-sm {
    font-size: 0.875rem;
    padding-bottom: calc(0.4755rem + 1px);
    padding-top: calc(0.4755rem + 1px);
  }
  
  .col-form-label {
    --bs-form-label-color: #4a4948;
    color: var(--bs-form-label-color);
  }
  
  .form-label {
    margin-bottom: 1.5rem;
  }
  
  .form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: #f7f6f5;
    border: 1px solid #f0efed;
    border-radius: 0.571rem;
    color: #313130;
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.594rem 0.75rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none;
    }
  }
  
  .form-control[type=file] {
    overflow: hidden;
  }
  
  .form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer;
  }
  
  .form-control:focus {
    background-color: #f7f6f5;
    border-color: #80beb7;
    box-shadow: 0 0 0 0.25rem rgba(1, 124, 110, 0.25);
    color: #313130;
    outline: 0;
  }
  
  .form-control::-webkit-date-and-time-value {
    height: 1.5em;
  }
  
  .form-control::-moz-placeholder {
    color: #62615f;
    opacity: 1;
  }
  
  .form-control::placeholder {
    color: #62615f;
    opacity: 1;
  }
  
  .form-control:disabled {
    background-color: #dddcd9;
    opacity: 1;
  }
  
  .form-control-plaintext {
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;
    color: #313130;
    display: block;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 0.594rem 0;
    width: 100%;
  }
  
  .form-control-plaintext:focus {
    outline: 0;
  }
  
  .form-control-plaintext.form-control-lg,
  .form-control-plaintext.form-control-sm {
    padding-left: 0;
    padding-right: 0;
  }
  
  .form-control-sm {
    border-radius: 0.5rem;
    font-size: 0.875rem;
    min-height: calc(1.5em + 0.951rem + 2px);
    padding: 0.4755rem 0.5rem;
  }
  
  .form-control-lg {
    border-radius: 0.857rem;
    font-size: 0.875rem;
    min-height: calc(1.5em + 1.938rem + 2px);
    padding: 0.969rem 1rem;
  }
  
  
  
  textarea.form-control {
    min-height: calc(1.5em + 1.188rem + 2px);
  }
  
  textarea.form-control-sm {
    min-height: calc(1.5em + 0.951rem + 2px);
  }
  
  textarea.form-control-lg {
    min-height: calc(1.5em + 1.938rem + 2px);
  }
  
  .form-control-color {
    height: calc(1.5em + 1.188rem + 2px);
    padding: 0.594rem;
    width: 3rem;
  }
  
  .form-control-color:not(:disabled):not([readonly]) {
    cursor: pointer;
  }
  
  .form-control-color::-moz-color-swatch {
    border: 0!important;
    border-radius: 0.571rem;
  }
  
  .form-control-color::-webkit-color-swatch {
    border-radius: 0.571rem;
  }
  
  .form-control-color.form-control-sm {
    height: calc(1.5em + 0.951rem + 2px);
  }
  
  .form-control-color.form-control-lg {
    height: calc(1.5em + 1.938rem + 2px);
  }
  
  .form-floating>.form-control,
  .form-floating>.form-control-plaintext,
  .form-floating>.form-select {
    height: calc(3.5rem + 2px);
    line-height: 1.25;
  }
  
  .form-floating>.form-control,
  .form-floating>.form-control-plaintext {
    padding: 1rem 0.75rem;
  }
  
  .form-floating>.form-control-plaintext::-moz-placeholder,
  .form-floating>.form-control::-moz-placeholder {
    color: transparent;
  }
  
  .form-floating>.form-control-plaintext::placeholder,
  .form-floating>.form-control::placeholder {
    color: transparent;
  }
  
  .form-floating>.form-control-plaintext:not(:-moz-placeholder-shown),
  .form-floating>.form-control:not(:-moz-placeholder-shown) {
    padding-bottom: 0.625rem;
    padding-top: 1.625rem;
  }
  
  .form-floating>.form-control-plaintext:focus,
  .form-floating>.form-control-plaintext:not(:placeholder-shown),
  .form-floating>.form-control:focus,
  .form-floating>.form-control:not(:placeholder-shown) {
    padding-bottom: 0.625rem;
    padding-top: 1.625rem;
  }
  
  .form-floating>.form-control-plaintext:-webkit-autofill,
  .form-floating>.form-control:-webkit-autofill {
    padding-bottom: 0.625rem;
    padding-top: 1.625rem;
  }
  
  .form-floating>.form-control:not(:-moz-placeholder-shown)~label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }
  
  .form-floating>.form-control-plaintext~label,
  .form-floating>.form-control:focus~label,
  .form-floating>.form-control:not(:placeholder-shown)~label,
  .form-floating>.form-select~label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }
  
  .form-floating>.form-control:-webkit-autofill~label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }
  
  .form-floating>.form-control-plaintext~label {
    border-width: 1px 0;
  }
  
  .input-group>.form-control,
  .input-group>.form-floating,
  .input-group>.form-select {
    flex: 1 1 auto;
    min-width: 0;
    position: relative;
    width: 1%;
  }
  
  .input-group>.form-control:focus,
  .input-group>.form-floating:focus-within,
  .input-group>.form-select:focus {
    z-index: 5;
  }
  
  .input-group-lg>.btn,
  .input-group-lg>.form-control,
  .input-group-lg>.form-select,
  .input-group-lg>.input-group-text {
    border-radius: 0.857rem;
    font-size: 0.875rem;
    padding: 0.969rem 1rem;
  }
  
  .input-group-sm>.btn,
  .input-group-sm>.form-control,
  .input-group-sm>.form-select,
  .input-group-sm>.input-group-text {
    border-radius: 0.5rem;
    font-size: 0.875rem;
    padding: 0.4755rem 0.5rem;
  }
  
  .input-group.has-validation>.dropdown-toggle:nth-last-child(n+4),
  .input-group.has-validation>.form-floating:nth-last-child(n+3)>.form-control,
  .input-group.has-validation>.form-floating:nth-last-child(n+3)>.form-select,
  .input-group.has-validation>:nth-last-child(n+3):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
  .input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
  .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control,
  .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select,
  .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  
  .input-group>.form-floating:not(:first-child)>.form-control,
  .input-group>.form-floating:not(:first-child)>.form-select {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  
  .form-control.is-valid,
  .was-validated .form-control:valid {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23017C6E' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
    background-position: right calc(0.375em + 0.297rem) center;
    background-repeat: no-repeat;
    background-size: calc(0.75em + 0.594rem) calc(0.75em + 0.594rem);
    border-color: #017c6e;
    padding-right: calc(1.5em + 1.188rem);
  }
  
  .form-control.is-valid:focus,
  .was-validated .form-control:valid:focus {
    border-color: #017c6e;
    box-shadow: 0 0 0 0.25rem rgba(1, 124, 110, 0.25);
  }
  
  .was-validated textarea.form-control:valid,
  textarea.form-control.is-valid {
    background-position: top calc(0.594rem + 1px) right calc(0.594rem + 1px);
  }
  
  .was-validated .form-control-sm:valid,
  .form-control-sm.is-valid {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23017C6E' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
  }
  
  .was-validated .form-control-sm:valid:focus,
  .form-control-sm.is-valid:focus {
    border-color: #017c6e;
    box-shadow: 0 0 0 0.25rem rgba(1, 124, 110, 0.25);
  }
  
  .was-validated .form-control-lg:valid,
  .form-control-lg.is-valid {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23017C6E' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
  }
  
  .was-validated .form-control-lg:valid:focus,
  .form-control-lg.is-valid:focus {
    border-color: #017c6e;
    box-shadow: 0 0 0 0.25rem rgba(1, 124, 110, 0.25);
  }
  
  .form-check-input.is-valid,
  .was-validated .form-check-input:valid {
    border-color: #017c6e;
    background-color: #013b37;
  }
  
  .was-validated .form-check-input:valid:focus,
  .form-check-input.is-valid:focus {
    box-shadow: 0 0 0 0.25rem rgba(1, 124, 110, 0.25);
  }
  
  .was-validated .form-check-input:valid:checked:focus,
  .form-check-input.is-valid:checked:focus {
    box-shadow: 0 0 0 0.25rem rgba(1, 124, 110, 0.25);
  }
  
  .was-validated .form-switch.is-valid .form-check-input:checked {
    border-color: #017c6e;
    background-color: #017c6e;
  }
  
  .was-validated .form-check-input:valid:checked+.form-check-label {
    color: #017c6e;
  }
  
  .was-validated .form-check-input:valid:checked+.form-check-label::before {
    border-color: #017c6e;
    background-color: #017c6e;
  }
  
  .was-validated .form-range.is-valid::-webkit-slider-thumb {
    background-color: #017c6e;
  }
  
  .was-validated .form-range.is-valid:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.25rem rgba(1, 124, 110, 0.25);
  }
  
  .was-validated .form-range.is-valid::-moz-range-thumb {
    background-color: #017c6e;
  }
  
  .was-validated .form-range.is-valid:focus::-moz-range-thumb {
    box-shadow: 0 0 0 0.25rem rgba(1, 124, 110, 0.25);
  }
  
  .was-validated .form-range.is-valid::-ms-thumb {
    background-color: #017c6e;
  }
  
  .was-validated .form-range.is-valid:focus::-ms-thumb {
    box-shadow: 0 0 0 0.25rem rgba(1, 124, 110, 0.25);
  }
  
  .was-validated .form-range.is-valid::-webkit-slider-thumb:focus,
  .was-validated .form-range.is-valid::-webkit-slider-thumb:active {
    box-shadow: none;
  }
  
  .was-validated .form-range.is-valid::-moz-range-thumb:focus,
  .was-validated .form-range.is-valid::-moz-range-thumb:active {
    box-shadow: none;
  }
  
  .was-validated .form-range.is-valid::-ms-thumb:focus,
  .was-validated .form-range.is-valid::-ms-thumb:active {
    box-shadow: none;
  } */