
.header{
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  display: flex;
  transition: 0.6s;
  z-index: 10000;
  align-items: center;
  gap: 5%;
  padding: 10px;
  background-color: wheat;
  box-sizing: content-box; */
  position: fixed;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  display: flex;
  z-index: 10000;
  align-items: center;
  gap: 5%;
  padding: 10px;
  background-color: wheat;

}

.Container-header-items{
  display: flex;
  width: 50%;
  justify-content: flex-start;
  gap: 5%;
}

.marginLeft { 
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  margin-right: 3%;
 }

 .button-login {
  width: -webkit-fill-available;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 11px;
  padding: 0px 12px;
  background-color: rgb(37 173 54);
  border-radius: 8px;
  color: white;
  /* border: none; */
  transition-duration: .3s;
}

.button-signup{
  width: -webkit-fill-available;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 11px;
  padding: 0px 12px;
  background-color: wheat;
  border-radius: 8px;
  /* border: none; */
  transition-duration: .3s;
}


.login {
  width: 13px;
}

.login path {
  fill:none;
}

.button:hover {
  background-color: rgb(77, 77, 77);
  transition-duration: .4s;
}

.button:active {
  transform: translate(1px , 1px);
  transition-duration: .3s;
}

.button-signup:hover {
  background-color: rgb(37 173 54);
  color: white; 
}

.button-signup:active {
  transform: translate(1px, 1px);
  transition-duration: .3s;
}

/*---------------PHONE------------------*/
@media (max-width: 575.98px) {
  .Logo_Header {
    width: 50px;
  }

  .Container-header-items {
    display: flex;
    width: 50%;
    gap: 5%;
    align-items: center;
    justify-content: flex-start;
}
  
}

/*--------------------------------------*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .Logo_Header {
    width: 50px;
    padding-top: 10%;
  }

  /* .Container-header-items {
} */


}

/*--------------------------------------*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .Logo_Header {
    width: 50px;
    padding-top: 10%;
  }

  .Container-header-items {
    display: flex;
    width: 50%;
    gap: 5%;
    align-items: center;
}
}

/*--------------------------------------*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .Logo_Header {
    width: 50px;
    padding-top: 10%;
  }

  .Container-header-items {
    display: flex;
    width: 50%;
    gap: 5%;
    align-items: center;
}
}

/*--------------------------------------*/
@media (min-width: 1200px) {
  .Logo_Header {
    width: 50px;
    padding-top: 10%;
  }

  .Container-header-items {
    display: flex;
    width: 50%;
    gap: 5%;
    align-items: center;
}
}
