.Footer-Container{
  border-top: 0.1px solid rgb(0 0 0 / 32%);
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  align-items: center;
}

.Footer-Items{
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Footer-Left{
  display: flex;
  flex-direction: row-reverse;
}

.Footer-Social{
  display: flex;
  grid-auto-flow: column; 
gap: 1rem; 


@media (min-width: 768px) { 
  justify-self: end; 
place-self: center; 
 }


}